#login-password {
  border: none;
}

#login-password:focus {
  box-shadow: none;
}

.input-group-merge {
  padding: 0 !important;
  border: 0 !important;
}

.card-calc p {
  margin-bottom: 1.20rem;
}

.row .calc td {
  padding: 10px !important;
}

.input-group-text {
  border: none;
  background-color: transparent;
}

.name-width {
  .fvxlqO,
  .icmOyL,
  .lhVPMq {
    justify-content: space-between;
  }

  .rdt_TableHeadRow {
    border: none !important;
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
    justify-content: space-between;

    .sc-fznKkj {
      text-overflow: unset;
    }
  }

  .rdt_TableRow,
  .lhVPMq,
  .icmOyL {
    border: none !important;
    padding: 10px 0;
  }

  .status-switch {
    cursor: pointer;
  }

  .table-filter {
    margin-top: 20px;
    margin-left: 20px;
  }

  .data-table {
    border-bottom: 1px solid rgb(0 0 0 / 12%);
  }
}

.container-xxl {
  max-width: 1600px !important;
}

.navbar-nav .side-logo {
  max-width: 130px !important;
}

.profession .css-26l3qy-menu {
  bottom: 100% !important;
  top: unset !important;
}

.select__control {
  border: 1px solid #d8d6de !important;
}

.card-stat:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
}

.error-form {
  font-size: 12px;
}

.profile-card {
  .label-text {
    margin-right: 5px;
    font-weight: 900 !important;
  }
}

[dir] .nav-tabs .nav-link {
  padding: 10px !important;
}

.club-image {
  min-width: 50px;
}

.club-table {
  .club-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .rdt_TableRow {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;

    div:first-child {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: unset;
    }
  }

  table td {
    padding: 10px 12px !important;
  }

  tr {
    td:nth-child(4) p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: unset;
      overflow: hidden;
    }
  }
  .club-no {
    margin: 0;
  }
}

.club-list-table {
  tr {
    th:first-child,
    td:first-child {
      width: 70px;
      min-width: 70px;
    }

    th:nth-child(2),
    td:nth-child(2) {
      min-width: 150px;
    }
  }
}

.club-description {
  width: 220px;
  max-width: 100%;
}

.club-bag {
  padding: 15px !important;
}

.club-bag .club-description {
  max-width: 100%;
}

.club-view-description {
  width: 130px;
  max-width: 100%;
}

.club-no {
  width: 40px;
  max-width: 100%;
}

.club-card {
  background: #f8f8f8;
  padding: 5px 14px;
  border-radius: 5px;
  transition: 0.5s;
}

.club-card.select-club {
  padding: 15px;
}

.club-name {
  font-size: 20px;
  font-weight: 700;
}

.card-hover:hover {
  transform: translateY(4px);
}

.img-label {
  border: 1px solid #d8d6de;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  display: flex;
  align-items: center;
  text-indent: 15px;
  font-size: 14px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.image-group {
  height: 38.27px;
}

.edit-club {
  cursor: pointer;
}

.ibdqhr {
  padding: 0 !important;
  height: 35px !important;
  width: 35px;
}

.bg-img {
  background-image: url("../images/logo/black-logo.png");
  height: 55px;
  background-size: cover;
  width: 55px;
}

.bg-text {
  background-image: url("../images/logo/text-black.png");
  height: 12px;
  background-size: contain;
  width: 137px;
  margin-left: 10px;
  background-repeat: no-repeat;
}

.logo-img {
  background-image: url("../images/logo/black-logo.png");
  height: 55px;
  background-size: cover;
  width: 55px;
}

.logo-text {
  background-image: url("../images/logo/logo-text.png");
  height: 32px;
  background-size: contain;
  width: 79px;
  margin-left: 10px;
  background-repeat: no-repeat;
}

.securityTab {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.change-password .securityTab {
  border-radius: 0;
}

.dataImage {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.profile-card-name {
  font-weight: 500;
  font-size: 14px;
}

.profile-card-update {
  font-size: 12px;
  color: #b9b9c3;
}

.profile-role {
  background-color: #ff00000d;
}

.bg-lite-yahoo {
  background-color: #fafafa !important;
  padding: 8px;
}

.bg-lite-yahoo.introducer-card {
  padding: 10px;
}

.img-set {
  min-height: 300px;
  min-width: 400px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fafafa;
}

.app-content .content-wrapper {
  padding-bottom: 50px !important;
}

.dashboard-avatar img {
  border-radius: 0 !important;
}

.error-logo {
  width: 50px;
}

.error-text {
  width: 150px;
  margin-left: 10px;
}

.card-header .dataTable-filter {
  min-height: 2.5rem;
}

.table > :not(caption) > * > * {
  border: none;
  padding: 17px 12px !important;
  text-transform: unset !important;
  font-weight: 400;
  color: #000000de;
}

.table-search {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 14px;

  .form-control {
    font-size: 12px;
  }
}

.search-box .css-26l3qy-menu {
  top: unset !important;
  bottom: 100%;
}

.card-head {
  font-size: 16px;
}

.player-table {
  .form-control {
    padding: 7px 10px;
  }
}

.match-height .card .card-header {
  padding: 20px;
}

textarea.form-control {
  min-height: 6.714rem !important;
}

.modal-open {
  padding-right: 0 !important;
}
